body {
    padding: 0;
    margin: 0;
    background-color: rgb(164, 231, 231);
  }
 
 h1 {
    text-align: center;
    color: #969494;
    margin-top: 20px;
  }
  
.container {
  background-color: white;
  max-width: 500px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px 0 #6576aa, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  margin-top: 275px;
  margin-left: auto;
  margin-right: auto;
}

#textarea {
  font-size: 20px;
  font-weight: bold;
}

#result {
  font-weight: bold;
}

button {
  width: 100px;
  height: 40px;
  border: 1px solid #ccc;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
}
